<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap CSS 3.3.7 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <br>
    <h1 class="h-c"><span>@ViewBag.Title1</span> <span>@ViewBag.Title2</span></h1>
    <hr>

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <br>
    <br>
    <hr>
    <div class="footer">
        <p>&copy; 2018, All Rights Reserved</p>
        <p>
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("People", "Index", "People")
            @Html.ActionLink("API", "ApiPeople", "API")
            @Html.ActionLink("API Documentation", "ApiInfo", "Home")
        </p>
    </div>


    <!-- jQuery JS 3.1.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap JS 3.3.7 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Script/snap.svg-min.js"></script>
    <script src="~/Script/main.js"></script>
</body>
</html>